TestJoseGonzalez/Service References/ConsultaGeneralServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Wcf.TestPrueba.DistributedServices.Services" />
  <xs:element name="GetDataCanciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataCancionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Wcf.TestPrueba.DistributedServices.Services" minOccurs="0" name="GetDataCancionesResult" nillable="true" type="q1:ArrayOfContratCancionesGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSonidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSonidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Wcf.TestPrueba.DistributedServices.Services" minOccurs="0" name="GetDataSonidosResult" nillable="true" type="q2:ArrayOfContractSonidosGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>