TestJoseGonzalez/Service References/ConsultaGeneralServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultarCanciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="Wcf.TestPrueba.DistributedServices.Services" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultarCansiones_GetDataCanciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataCanciones" />
  </wsdl:message>
  <wsdl:message name="IConsultarCansiones_GetDataCanciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataCancionesResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultarCansiones_GetDataSonidos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSonidos" />
  </wsdl:message>
  <wsdl:message name="IConsultarCansiones_GetDataSonidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSonidosResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsultarCansiones">
    <wsdl:operation name="GetDataCanciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultarCansiones/GetDataCanciones" message="tns:IConsultarCansiones_GetDataCanciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultarCansiones/GetDataCancionesResponse" message="tns:IConsultarCansiones_GetDataCanciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSonidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultarCansiones/GetDataSonidos" message="tns:IConsultarCansiones_GetDataSonidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultarCansiones/GetDataSonidosResponse" message="tns:IConsultarCansiones_GetDataSonidos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsultarCansiones" type="tns:IConsultarCansiones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataCanciones">
      <soap:operation soapAction="http://tempuri.org/IConsultarCansiones/GetDataCanciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSonidos">
      <soap:operation soapAction="http://tempuri.org/IConsultarCansiones/GetDataSonidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultarCanciones">
    <wsdl:port name="BasicHttpBinding_IConsultarCansiones" binding="tns:BasicHttpBinding_IConsultarCansiones">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Wcf.TestPrueba.DistributedServices.Services/ConsultarCanciones/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>