TestJoseGonzalez/Service References/ConsultaGeneralServices/Wcf.TestPrueba.DistributedServices.Contract.Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidadesGrillo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadesGrillo" nillable="true" type="tns:EntidadesGrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadesGrillo" nillable="true" type="tns:ArrayOfEntidadesGrillo" />
  <xs:complexType name="EntidadesGrillo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Animal">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntidadesGrillo" nillable="true" type="tns:EntidadesGrillo" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreAnimal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sonido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="ArrayOfEntidadesLibelula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadesLibelula" nillable="true" type="tns:EntidadesLibelula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadesLibelula" nillable="true" type="tns:ArrayOfEntidadesLibelula" />
  <xs:complexType name="EntidadesLibelula">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Animal">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntidadesLibelula" nillable="true" type="tns:EntidadesLibelula" />
  <xs:complexType name="ArrayOfEntidadesRana">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadesRana" nillable="true" type="tns:EntidadesRana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadesRana" nillable="true" type="tns:ArrayOfEntidadesRana" />
  <xs:complexType name="EntidadesRana">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Animal">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntidadesRana" nillable="true" type="tns:EntidadesRana" />
</xs:schema>