TestJoseGonzalez/Service References/ConsultaGeneralServices/Wcf.TestPrueba.DistributedServices.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wcf.TestPrueba.DistributedServices.Services" elementFormDefault="qualified" targetNamespace="Wcf.TestPrueba.DistributedServices.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" />
  <xs:complexType name="ArrayOfContratCancionesGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContratCancionesGeneral" nillable="true" type="tns:ContratCancionesGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratCancionesGeneral" nillable="true" type="tns:ArrayOfContratCancionesGeneral" />
  <xs:complexType name="ContratCancionesGeneral">
    <xs:sequence>
      <xs:element name="musica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratCancionesGeneral" nillable="true" type="tns:ContratCancionesGeneral" />
  <xs:complexType name="ArrayOfContractSonidosGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractSonidosGeneral" nillable="true" type="tns:ContractSonidosGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractSonidosGeneral" nillable="true" type="tns:ArrayOfContractSonidosGeneral" />
  <xs:complexType name="ContractSonidosGeneral">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" name="_Grillo" nillable="true" type="q1:ArrayOfEntidadesGrillo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" name="_Libelula" nillable="true" type="q2:ArrayOfEntidadesLibelula" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf.TestPrueba.DistributedServices.Contract.Entidades" name="_Rana" nillable="true" type="q3:ArrayOfEntidadesRana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractSonidosGeneral" nillable="true" type="tns:ContractSonidosGeneral" />
</xs:schema>